{% extends "measurement/base.html" %}

{% block content %}
    <form method="POST", action="{% url 'measurement:customer-create' %}">
        {% csrf_token %}
        {% for field in form %}
        <div class="form-group mb-3">
        {{ field.errors }}
        {{ field.label_tag }} {{ field }}
        {% if field.help_text %}
          <p class="help" id="{{ field.auto_id }}_helptext">
            {{ field.help_text|safe }}
          </p>
        {% endif %}
    </div>
    {% endfor %}
        <button class="btn btn-lg btn-primary" type="submit">Submit</button>
    </form>
{% endblock content %}