{% extends "measurement/base.html" %}

{% block content %}
    <div class="card text-white bg-primary mb-3" style="max-width: 20rem;">
        <h3 class="card-header">{{customer.first_name }} {{customer.last_name }}</h3>
        <div class="card-body">
        <h5 class="card-title">{{ customer.phone_number }}</h5>
        <p class="card-text">{{ customer.adress }}</p>
        </div>
    </div>
    
{% comment "" %}
clothe list view  for each associated customer
{% endcomment %}

    <div class='ml-3'>
        <h4 class='ml-5'>Clothe</h4>
       <table class="table table-hover">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Style</th>
            <th scope="col">Price</th>
            <th scope="col">Deposit</th>
            <th scope="col">Balance</th>
            <th scope="col">Length</th>
            <th scope="col">Waist</th>
            <th scope="col">Update</th>
            <th scope="col">Delete</th>
          </tr>
        </thead>
        <tbody>
            {% for c in clothes  %}
          <tr>
            <th scope="row">{{c.id}}</th>
            <td>{{c.style}}</td>
            <td>${{c.price_charge}}</td>
            <td>${{c.deposit}}</td>
            <td>${{c.balance}}</td>
            <td>{{c.length}}</td>
            <td>{{c.waist}}</td>
            <td>
                <a class="btn btn-success" href="{% url 'measurement:clothe-update' c.pk %}">Update</a> 
           </td>
           <td>
            <a class="btn btn-success" href="#">Delete</a>
        </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
     
    </div>
   
{% endblock content %}