{% extends "measurement/base.html" %}

{% block content %}
<table class="table table-hover mt-2">
    <thead>
      <tr class="table-secondary">
        <th scope="col">CUSTOMER ID</th>
        <th scope="col">FIRST NAME</th>
        <th scope="col">LAST NAME</th>
        <th scope="col">ADDRESS</th>
        <th scope="col">PHONE NUMBER</th>
        <th scope="col">EMAIL</th>
        <th scope="col">DATE JIONED</th>
      </tr>
    </thead>
    <tbody>
      {% for customer in customers %}
      <tr class="table-primary">
        <td scope="row">{{customer.pk}}</th>
        <td scope="row">{{customer.first_name}}</th>
        <td>{{customer.last_name}}</td>
        <td>{{customer.adress}}</td>
        <td>{{customer.phone_number}}</td>
        <td>{{customer.email}}</td>
        <td>{{customer.joined_date}}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock content %}